[submodule "data/raw/Static-Hand-Gestures-of-the-Peruvian-Sign-Language-Alphabet"]
	path = data/raw/Static-Hand-Gestures-of-the-Peruvian-Sign-Language-Alphabet
	url = https://github.com/Expo99/Static-Hand-Gestures-of-the-Peruvian-Sign-Language-Alphabet.git
